UserInterfaceState.xcuserstate
xcschememanagement.plist
Breakpoints.xcbkptlist
WorkspaceSettings.xcsettings
apps/EAQ/EAQ.xcodeproj/project.xcworkspace/xcshareddata/EAQ.xccheckout
apps/EAQ/EAQ.xcodeproj/xcuserdata/pcole.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
FCC.xccheckout
SamKnows.xccheckout
Breakpoints_v2.xcbkptlist
apps/EAQ/q.q
apps/q.q
apps/CorePlot_1.4/Source/build/CorePlot-CocoaTouch.build/Debug-iphoneos/CorePlot-CocoaTouch.build/CorePlot-CocoaTouch-all-target-headers.hmap
apps/CorePlot_1.4/Source/build/CorePlot-CocoaTouch.build/Debug-iphoneos/CorePlot-CocoaTouch.build/CorePlot-CocoaTouch-generated-files.hmap
apps/CorePlot_1.4/Source/build/CorePlot-CocoaTouch.build/Debug-iphoneos/CorePlot-CocoaTouch.build/CorePlot-CocoaTouch-own-target-headers.hmap
apps/CorePlot_1.4/Source/build/CorePlot-CocoaTouch.build/Debug-iphoneos/CorePlot-CocoaTouch.build/CorePlot-CocoaTouch-project-headers.hmap
apps/CorePlot_1.4/Source/build/CorePlot-CocoaTouch.build/Debug-iphoneos/CorePlot-CocoaTouch.build/CorePlot-CocoaTouch.hmap
apps/CorePlot_1.4/Source/framework/CorePlot-CocoaTouch.xcodeproj/project.xcworkspace/xcshareddata/CorePlot-CocoaTouch.xccheckout
apps/CorePlot_1.4/Source/framework/CorePlot-CocoaTouch.xcodeproj/xcuserdata/pcole.xcuserdatad/xcschemes/CorePlot-CocoaTouch.xcscheme
apps/CorePlot_1.4/Source/framework/CorePlot-CocoaTouch.xcodeproj/xcuserdata/pcole.xcuserdatad/xcschemes/Documentation.xcscheme
apps/CorePlot_1.4/Source/framework/CorePlot-CocoaTouch.xcodeproj/xcuserdata/pcole.xcuserdatad/xcschemes/Universal Library.xcscheme
apps/CorePlot_1.4/Source/build/CorePlot-CocoaTouch.build
apps/CorePlot_1.4/Source/build/CorePlot.build
apps/CorePlot_1.4/Source/build
apps/CorePlot_1.4/Source/framework/CorePlot.xcodeproj/project.xcworkspace/xcshareddata/CorePlot.xccheckout
apps/CorePlot_1.4/Source/framework/CorePlot.xcodeproj/xcuserdata/pcole.xcuserdatad/xcschemes/CorePlot.xcscheme
apps/CorePlot_1.4/Source/framework/CorePlot.xcodeproj/xcuserdata/pcole.xcuserdatad/xcschemes/Documentation.xcscheme
Zombie.xccheckout
operators.json
